/*

@media all and (max-width: 890px) {    
    #container {
        
    }
    
    #about_santos {
        position:relative;
        max-width:855px;
        width:100%;
    }
    
    #about_santos img {
        display:block;
        margin-left:auto;
        margin-right:auto;
    }
    
    #triumphs_santos {
        position:relative;
        max-width:855px;
        width:100%;
    }
    
    #triumphs_santos img {
        display:block;
        margin-left:auto;
        margin-right:auto;
    }
    
    #triumphs_santos {
        position:relative;
        max-width:855px;
        width:100%;
    }
    
    #triumphs_santos img {
        display:block;
        margin-left:auto;
        margin-right:auto;
    }
    
    #family-spons_santos {
        position:relative;
        max-width:855px;
        width:100%;
    }
    
    #family-spons_santos img {
        display:block;
        margin-left:auto;
        margin-right:auto;
    }
    
     #future_santos {
        position:relative;
        max-width:855px;
        width:100%;
    }
    
    #future_santos img {
        display:block;
        margin-left:auto;
        margin-right:auto;
    }
}

*/